.main
    box-sizing: border-box
    width: 100%
    overflow: hidden
    display: flex
    align-items: center
    justify-content: flex-start
    // margin: 265px auto
    position: relative
    z-index: 10
    &::before
        content: ''
        position: absolute
        top: -100px
        right: 0px
        width: 75%
        aspect-ratio: 1250/700
        background-size: cover
        background-position: center
        background-image: url('../../assets/imgs/main-top.png')
    &::after
        content: ''
        position: absolute
        bottom: -196px
        left: 0
        width: 75%
        aspect-ratio: 1340/764
        background-size: cover
        background-position: center
        background-image: url('../../assets/imgs/main-bottom.png')
    &__container
        max-width: 771px
        width: 100%
        margin: 0 auto
        box-sizing: border-box
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        z-index: 10
    &__title
        font-size: 4em
        line-height: 1
        font-weight: 700
        margin-bottom: 30px
        color: #2F3647
    &__descr
        font-size: 1.25em
        line-height: 1
        margin-bottom: 50px
        color: #2F3647
    &__btns
        display: flex
        align-items: flex-start
        justify-content: flex-start
    &__btn
        background-color: #F83E47
        border-radius: 6px
        display: flex
        align-items: center
        justify-content: center
        font-weight: 700
        font-size: 1em
        line-height: 1
        box-sizing: border-box
        padding: 16px 40px
        &:first-child
            margin-right: 30px
    @media only screen and ( max-width: 1439px )
        flex-direction: column
        height: 100%
        &::before
            bottom: 0
            right: -264px
            top: unset
            width: 85%
            aspect-ratio: 964/549
            transform: rotate(90deg)
        &::after
            bottom: 0px
            left: 0
            width: 62%
            aspect-ratio: 964/549
        &__container
            margin-top: 70px
            padding: 0 30px
    @media only screen and ( max-width: 959px )
        &__container
            margin-top: 110px
        &__title
            font-size: 2.375em
            margin-bottom: 16px
        &__descr
            font-size: 0.875em
            margin-bottom: 40px
        &__btn
            font-size: 0.875em
            padding: 10px
            &:not(:last-child)
                margin-right: 10px
    @media only screen and ( max-width: 639px )
        &::before
            display: none
        &__container
            margin-top: 110px
            padding: 0 20px
        &__descr
            margin-bottom: 60px
    @media only screen and ( max-width: 479px )
        &::before
            display: none
        &__container
            margin-top: 70px
            padding: 0 20px
        &__descr
            margin-bottom: 60px
