.auth
    margin: 276px auto
    max-width: 571px
    border-radius: 6px
    background-color: #FFFFFF
    width: 100%
    box-sizing: border-box
    padding: 30px 0
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column
    &__link
        text-align: right
        color: #AAAAAA
        font-size: 0.75em
        line-height: 1
        margin-top: 18px
        margin-right: 20px
    &__svg
        margin-bottom: 16px
    &__title
        font-size: 1.375em
        line-height: 1
        font-weight: 700
        color: #181818
        text-align: center
        margin: 0 auto
        margin-bottom: 12px
    &__descr
        font-size: 1em
        line-height: 1
        color: #181818
        margin-bottom: 20px
    &__btn
        background-color: #F83E47
        border-radius: 6px
        display: flex
        align-items: center
        justify-content: center
        font-weight: 700
        color: #FFFFFF
        font-size: 1em
        line-height: 1
        box-sizing: border-box
        width: 100%
        padding: 12px 0
    &__circle
        border-radius: 50%
        background-color: #601DC0
        box-sizing: border-box
        padding: 5px
        margin: 0 auto
        margin-bottom: 16px
        max-width: 30px
        width: 100%
        height: auto
    &__input
        font-size: 0.75em
        line-height: 1
        color: #AAAAAA
        border-radius: 6px
        width: 100%
        box-sizing: border-box
        padding: 14px
        border: 1px solid #AAAAAA
        margin-bottom: 12px
    &__input::placeholder
        color: #AAAAAA
    &__block
        display: flex
        align-items: flex-start
        justify-content: flex-start
        margin-bottom: 30px
    &__alert
        font-size: 0.75em
        line-height: 1
        color: #AAAAAA
        text-align: left
        &_underline
            text-decoration: underline
    &__checkbox
        display: inline-block
        position: relative
        padding-left: 25px
        cursor: pointer
        &_box
            position: absolute
            top: 0
            left: 0
            width: 18px
            height: 18px
            border: 1px solid #D7D7D7
            border-radius: 4px
        &_check
            position: absolute
            top: 4px
            left: 4px
            width: 10px
            height: 10px
            border-radius: 2px
            background-color: white
            display: none
    &__form
        max-width: 377px
        width: 100%
        margin: 0 auto
        box-sizing: border-box
        display: flex
        align-items: flex-start
        flex-direction: column
        justify-content: flex-start
