.agreement
    box-sizing: border-box
    width: 100%
    overflow: hidden
    display: flex
    align-items: flex-start
    justify-content: flex-start
    position: relative
    z-index: 3
    background-color: #F5FAFF
    &__container
        padding: 50px 20px
        width: 100%
        margin: 0 auto
        box-sizing: border-box
        display: flex
        align-items: flex-start
        justify-content: space-between
        flex-direction: column
    p
        color: #000000
        margin-bottom: 15px
        text-align: left
    h1
        color: #000000
        margin-bottom: 20px
        text-align: center
    h2
        color: #000000
        margin-bottom: 20px
    li
        color: #000000
        margin-bottom: 20px
        text-align: left
    td
        color: #000000
        margin-bottom: 20px  
    table
        color: #000000
        margin-bottom: 20px
        margin-top: 20px
    caption
        margin-bottom: 15px
    a
        color: #000000