.chat
    box-sizing: border-box
    width: 100%
    overflow: hidden
    display: flex
    align-items: stretch
    justify-content: center
    position: relative
    background-color: #F5FAFF
    &__container
        width: 100%
        margin: 0 auto
        box-sizing: border-box
        display: flex
        align-items: flex-start
        justify-content: space-between
        flex-direction: column
        padding-bottom: 14px
    &__top
        border-bottom: 1px solid #D7D7D7
        padding: 20px 0
        box-sizing: border-box
        width: 100%
        display: flex
        align-items: center
        justify-content: center
    &__logo
        max-width: 43px
        width: 100%
        object-fit: contain
        margin-right: 8px
        &_descr
            color: #2F3647
            font-size: 1.25em
            line-height: 1
    &__bottom
        height: 100%
        display: flex
        flex-direction: column
        justify-content: flex-start
        width: 100%
        padding: 25px 40px 0
        box-sizing: border-box
    &__messages
        height: 100%
    &__message
        display: flex
        &:not(:last-child)
            margin-bottom: 30px
        &_avatar
            width: 40px
            height: 40px
            margin-right: 10px
            border-radius: 50%
            overflow: hidden
            background-color: #ffffff
            display: flex
            align-items: center
            justify-content: center
            &_ai
                width: 100%
                height: 100%
                object-fit: cover
            &_default
                font-size: 19px
                font-weight: 400
                line-height: 1
                text-align: center
        &_subtitle
            color: #AAAAAA
            margin-bottom: 4px
            font-size: 1em
            line-height: 1
            text-align: left
        &_descr
            color: #2F3647
            font-size: 1em
            line-height: 1
            box-sizing: border-box
            padding: 12px 40px 12px 10px
            border-radius: 2px 8px 8px 8px
            background-color: #FFFFFF
        &_image
            max-width: 600px
            width: 100%
            height: auto
            background-color: #00000033
            border-radius: 2px
    &__form
        border: 1px solid #D7D7D7
        border-radius: 10px
        background-color: #FFFFFF
        box-sizing: border-box
        padding: 6px 6px 6px 20px
        width: 100%
        flex-shrink: 0
        display: flex
        align-items: center
        justify-content: space-between
    &__input
        font-size: 1.125em
        line-height: 1
        color: #2F3647
        width: 100%
    &__input::placeholder
        color: #2F3647
    &__submit
        padding: 14px 15px
        box-sizing: border-box
        background-color: #D7D7D7
        border-radius: 8px
        max-width: 48px
        width: 100%
        height: 48px
        display: flex
        align-items: center
        justify-content: center
        &_svg
            display: flex
            align-items: center
            justify-content: center
            width: 100%
            height: auto
    &__outline
        display: flex
        align-items: center
        justify-content: center
        position: relative
        width: 100%
        margin-bottom: 60px
    &__line
        width: 50%
        height: 1px
        background-color: #D7D7D7
    &__text
        color: #6B7C93
        z-index: 2
        font-size: 0.8125em
        line-height: 1
        margin-right: 30px
        margin-left: 30px
        white-space: nowrap
    &__space
        width: 30px