@import-normalize;

@font-face {
  font-family: 'Helvetica';
  src: url('./assets/fonts/Helvetica-Bold.eot');
  src: local('Helvetica Bold'), local('SFHelveticaold'),
    url('./assets/fonts/Helvetica-Bold.woff2') format('woff2'),
    url('./assets/fonts/Helvetica-Bold.woff') format('woff'),
    url('./assets/fonts/SFProDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('./assets/fonts/Helvetica-Regular.eot');
  src: local('Helvetica Regular'), local('Helvetica-Regular'),
    url('./assets/fonts/Helvetica-Regular.woff2') format('woff2'),
    url('./assets/fonts/Helvetica-Regular.woff') format('woff'),
    url('./assets/fonts/Helvetica-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RockStar';
  src: url('./assets/fonts/RockStar-Bold.eot');
  src: local('RockStar Bold'), local('RockStar-Bold'),
    url('./assets/fonts/RockStar-Bold.woff2') format('woff2'),
    url('./assets/fonts/RockStar-Bold.woff') format('woff'),
    url('./assets/fonts/RockStar-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'RockStar';
  src: url('./assets/fonts/RockStar-SemiBold.eot');
  src: local('RockStar SemiBold'), local('RockStar-SemiBold'),
    url('./assets/fonts/RockStar-SemiBold.woff2') format('woff2'),
    url('./assets/fonts/RockStar-SemiBold.woff') format('woff'),
    url('./assets/fonts/RockStar-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFProDisplay-Bold.eot');
  src: local('SFProDisplay Bold'), local('SFProDisplay-Bold'),
    url('./assets/fonts/SFProDisplay-Bold.woff2') format('woff2'),
    url('./assets/fonts/SFProDisplay-Bold.woff') format('woff'),
    url('./assets/fonts/SFProDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFProDisplay-Semibold.eot');
  src: local('SFProDisplay Semibold'), local('SFProDisplay-Semibold'),
    url('./assets/fonts/SFProDisplay-Semibold.woff2') format('woff2'),
    url('./assets/fonts/SFProDisplay-Semibold.woff') format('woff'),
    url('./assets/fonts/SFProDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFProDisplay-Medium.eot');
  src: local('SFProDisplay Medium'), local('SFProDisplay-Medium'),
    url('./assets/fonts/SFProDisplay-Medium.woff2') format('woff2'),
    url('./assets/fonts/SFProDisplay-Medium.woff') format('woff'),
    url('./assets/fonts/SFProDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFProDisplay-Regular.eot');
  src: local('SFProDisplay Regular'), local('SFProDisplay-Regular'),
    url('./assets/fonts/SFProDisplay-Regular.woff2') format('woff2'),
    url('./assets/fonts/SFProDisplay-Regular.woff') format('woff'),
    url('./assets/fonts/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html {
  background: #EBEFF3;
}

body {
  margin: 0;
  height: 100%;
  background: #EBEFF3;
  color: #FFFFFF;
  font-family: 'Helvetica', -apple-system, BlinkMacSystemFont, 'Helvetica', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

h1, h2, h3, h4, h5, a, p, button, ul, li {
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  list-style: none;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Helvetica', -apple-system, BlinkMacSystemFont, 'Helvetica', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

textarea:focus-visible {
  outline: none;
}

a, button {
  cursor: pointer;
}
  
input {
  padding: 0;
  margin: 0px;
  border: none;
  outline: none;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
}
  
#root {
  display: flex;
  position: relative;
  min-width: 320px;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  background: #EBEFF3;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-image: url('./assets/imgs/bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#paywidget-loader-overlay {
  background-color: #00000080 !important;
}

@media only screen and ( max-width: 479px ) {
  #root {
    min-height: 100dvh;
  }
}